@model CityViewModel
@inject ICityService cityService

<div class="jumbotron bg-success">
    <h2>在View中注入ICityService相依性物件</h2>
</div>

<div class="alert alert-success"><h4>用SelectListItem集合資料顯示City </h4></div>
<form>
    <select asp-for="CityName" asp-items="cityService.GetCitySelectListIem()">
        <option value="">==@cityService.ChooseCaption==</option>
    </select>

    <button type="submit">Submit</button>
</form>
<br />

<div class="alert alert-success"><h4>將List<string>轉換成SelectListItem集合,顯示City </h4></div>
<form>
    <select asp-for="CityName" asp-items="cityService.Cities.Select(c=> new SelectListItem { Text = c.CityName, Value=c.CityId })">
        <option value="">==@cityService.ChooseCaption==</option>
    </select>
    <button type="submit">Submit</button>

</form>
<br />

<div class="alert alert-success"><h4>用foreach逐筆讀取Cities資料</h4></div>
<ul>
    @foreach (var item in cityService.Cities)
    {
        <li>@item.CityId , @item.CityName</li>
    }
</ul>