
@{
    ViewData["Title"] = "ReadJsonConfig";
}

<div class="jumbotron bg-info">
    <h2>顯示自訂FutureCorp.json組態檔</h2>
</div>

<ul>
    <li>網站 : @ViewData["Website"]</li>
    <li>分支 : @ViewData["USA_Name"]</li>
    <li>電話 : @ViewData["USA_Tel"]</li>
</ul>