
@{
    ViewData["Title"] = "AddXmlFidle";
}

<div class="jumbotron bg-info">
    <h2>顯示自訂Computer.xml組態檔</h2>
</div>

<ul>
    <li>INETL  : @ViewData["CPU_Intel"]</li>
    <li>AMD : @ViewData["CPU_AMD"]</li>
    <li>DRAM : @ViewData["DRAM_Kingston"]</li>
    <li>SSD : @ViewData["SSD_Samsung"]</li>
</ul>

