
@{
    ViewData["Title"] = "ReadConfig";
}

<div class="jumbotron bg-info">
    <h2>讀取Configurtion組態值</h2>
</div>


<ul>
    <li>Website : @ViewData["Website"]</li>
    <li>台北分支名稱: @ViewData["Taipei_Name"]</li>
    <li>台北分支電話 : @ViewData["Taipei_Tel"]</li>
</ul>