
@{
    ViewData["Title"] = "ReadIniConfig";
}

<div class="jumbotron bg-info">
    <h2>顯示自訂Mobile.ini組態檔</h2>
</div>

<ul>
    <li>CPU  : @ViewData["CPU_Name"]</li>
    <li>設計 : @ViewData["CPU_Designer"]</li>
    <li>製造 : @ViewData["CPU_Manufacturer"]</li>
    <li>儲存 : @ViewData["iPhone11Pro_storage"]</li>
</ul>

