@{
    ViewData["Title"] = "ViewDataAttribute";
}

<h1>ViewDataAttribute</h1>

<ul>
    <li>Name : @ViewData["Name"]</li>
    <li>Gender : @ViewData["Gender"]</li>
    <li>Education : @ViewData["Edu"]</li>
</ul>