
@{
    ViewData["Title"] = "WebRootPath";
}

<div class="jumbotron bg-info">
    <h1>WebRootPath</h1>
</div>

<p>內容根目錄 : @ViewData["WebRootPath"]</p>

<img src="~/images/ferrari_small.jpg" alt="Ferrari" />
<br />
<img src="~/StaticFiles/images/ferrari_small.jpg" alt="Ferrari" />


